.pic{
    background-image: url("/public/toys.jpg");
    background-color: blue;
    min-height: 300px;
    min-width: 800px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}